*{
  padding: 0;
  margin: 0;
}

.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 20px 100px 20px 100px;
    border: 2px black;
    background: rgb(203, 201, 201);
    border-radius: 10px;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: ""; /*gör dropdown till dropdown*/
    padding: 5px;
    right: 10px;
    top: 20%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);           /*vrider på pilen*/
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: 5px #ccc;
    background: rgb(173, 173, 173);
    border-radius: 10px;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }

.dropdown{
    position:relative;
    
}

input[type="text"] {
    position: relative;
    text-align: center;
    top:250px;
    left: 300px;
    border: none;
    border-radius: 10px;
    padding: 20px 75px 20px 75px;
    background: rgb(203, 201, 201);
}


input[type="submit"] {
    position: relative;
    text-align: center;
    padding: 20px 75px 20px 75px;
    top: 325px;
    left: 300px;
    border: none;
    border-radius: 10px;
    background-color: rgb(203, 201, 201);

}

body{
    background: rgb(74, 41, 69);
    overflow:hidden;
}

svg{
    position: absolute;
    top: 25px;
    left: 25px;
}

h2{
    position: absolute;
    top: 150px;
    left: 290px;
    font-size: 40px;
    color: white;
}

.tempruta{
  position: absolute;
  top:0;
  right: 0;
  height: 718px;
  width: 800px;
  background: rgb(110, 64, 103);
  box-shadow: 15px 0px 15px -15px inset rgb(74, 41, 69);
}